* {
  box-sizing: border-box;
}

/* BASIC */

html {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  object-fit: contain;
}

button {
  all: unset;
  cursor: pointer;
}

/* LAYOUT */

.main-layout {
  max-width: 980px;
  margin: 0 auto;
}

/* Main Header */

.main-header {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  padding: 15px;
  margin-bottom: 2rem;
}

.header-container .search-container .search-bar {
  position: relative;
  border: 3px solid #00b4cc;
  height: 38px;
  border-right: none;
  padding-left: 100px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.search-bar:focus {
  color: #00b4cc;
}

.search-btn {
  position: absolute;
  border: 1px solid #00b4cc;
  width: 40px;
  height: 36px;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}

/* Main content */
.main-content {
  height: 100vh;
}

.main-content .location-container {
  border: 2px solid white;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 2rem;
}

.main-content .content {
  flex-direction: row-reverse;
  width: 100%;
  height: 50%;
  gap: 20px;
}

/* Map */

.content #map {
  flex-basis: 50%;
  max-height: 450px;
}

/* Weather && Locations table */

.content .info-container {
  flex-basis: 50%;
  gap: 25px;
}

.content .info-container > * {
  text-align: center;
}

.content .info-container .weather {
  border: 2px solid white;
  border-radius: 20px;
  flex-basis: 50%;
}

.content .info-container .my-locations {
  border: 2px solid white;
  border-radius: 20px;
  flex-basis: 50%;
}

/* HELPERS */

/* flex */

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.center {
  justify-content: center;
}

.flex.align-center {
  align-items: center;
}

.flex.columns {
  flex-direction: column;
}

.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}
